*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: #09000D;
}
nav{
    display: flex;
    padding: 2% 6%;
    /* padding: 2%; */
    /* padding-left: 2%; */
    /* padding-right: 2%; */
    /* padding-top: 30px; */
    justify-content: space-between;
    align-items: center;
}
.logo-name{
    font-size: 30px;
    text-decoration: none;
    color: #FC731E;
    transition: 5.5s;
}
.logo-name:hover{
    color: #9CE37D;
}
.logo-network{
    font-size: 30px;
    text-decoration: none;
    color: #9CE37D;
    transition: 5.5s;
}
.logo-network:hover{
    color: #FC731E;
}
.nav-links{
    flex: 1;
    text-align: right;
    /* padding-left: 10%; */
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    /* padding: 8px 12px; */
    /* position: relative; */
}
.nav-links ul li a{
    color: #9CE37D;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    /* height: 2px; */
    background: #FC731E;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.header-content{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bottom: 50%; */
    transform: translate(-50%,-50%);
}

.text-box{
    color: #FC731E;
    text-align: center;
    /* transform: translate(-50%,-50%); */
}
.site-image{
    /* position: absolute; */
    /* display: inline-flex; */
    /* align-self: center; */
    width: 40%;
    height: auto;
    margin: auto;
    /* padding: auto; */
    /* transform: translate(-50%,-50%); */
    /* top: 50%; */
    /* left: 50%; */
}

.text-box h1{
    font-size: 60px;
}
.text-box p{
    font-size: 30px;
    color: #9CE37D;
    line-height: 130%;
}
.social-logo{
    filter: invert(91%) sepia(15%) saturate(1171%) hue-rotate(45deg) brightness(92%) contrast(93%);
    width: 50px;
    height: auto;
    /* padding: 8px 12px; */
    /* transition: 0.0s; */
}

.social-logo:hover{
    filter: invert(52%) sepia(92%) saturate(1888%) hue-rotate(345deg) brightness(98%) contrast(102%);
}

/* mobile optimisation */
@media (max-width: 757px) {

}
