* {
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: #09000D;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    flex: 1;
    text-align: left;
}
.header-logo ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.header-logo a{
    text-decoration: none;
    font-size: 30px;
}
.logo-name{
    color: #FC731E;
    transition: 0.5s;
}
.logo-name:hover{
    color: #9CE37D;
}
.logo-network{
    color: #9CE37D;
    transition: 0.5s;
}
.logo-network:hover{
    color: #FC731E;
}
.header-links{
    flex: 1;
    text-align: right;
    padding-left: 10%;
}
.header-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.header-links ul li a{
    color: #9CE37D;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}
.header-links ul li a:hover{
    color: #FC731E;
}
.header-content{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header-image{
    display: block;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}
.header-content-text{
    text-align: center;
}
.header-content h1{
    font-size: 50px;
    color: #9CE37D;
}
.header-content p{
    font-size: 25px;
    color: #FC731E;
}
.social-logo{
    filter: invert(91%) sepia(15%) saturate(1171%) hue-rotate(45deg) brightness(92%) contrast(93%);
    width: 50px;
    height: auto;
    padding: 3% 3%;
}
.social-logo-colorless{
    width: 50px;
    height: auto;
    padding: 3% 3%;
}
.social-logo:hover{
    filter: invert(52%) sepia(92%) saturate(1888%) hue-rotate(345deg) brightness(98%) contrast(102%);
}

/* switch header on a width of 773 */
@media (max-width: 773px) {
    .logo-network{
        color: #FC731E;
    }
    .logo-network:hover{
        color: #9CE37D;
    }
    .header-links{
        text-align: center;
        padding-left: 0%;
    }
    .nav-bar{
        flex-direction: column;
    }
}
@media (max-width: 624px){
    .social-logo{
        width: 25px;
    }
}
@media (max-height: 690px){
    .header-image{
        max-width: 300px;
        max-height: 300px;
    }
}

/* about section */
.about{
    /* height: 10em; */
    background-color: gray;
    padding: 6% 10%;
    /* padding-left: 5%; */
}
.about-text{
    text-align: center;
}
.about-text h1{
    font-size: 30px;
    color: #FC731E;
}
.about-text p{
    font-size: 25px;
    color: #9CE37D;
}
