* {
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: #09000D;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    flex: 1;
    text-align: left;
}
.header-logo ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.header-logo a{
    text-decoration: none;
    font-size: 30px;
}
.logo-name{
    color: #FF570A;
    transition: 0.5s;
}
.logo-name:hover{
    color: #3772FF;
}
.logo-network{
    color: #3772FF;
    transition: 0.5s;
}
.logo-network:hover{
    color: #FF570A;
}
.header-links{
    flex: 1;
    text-align: right;
}
.header-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.header-links ul li a{
    color: #3772FF;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
}
.header-links ul li a:hover{
    color: #FF570A;
}
.header-content{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    min-width: 299px;
}
.header-image{
    display: block;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}
.header-content-text{
    text-align: center;
}
.header-content h1{
    font-size: 50px;
    color: #FF570A;
}
.header-content p{
    font-size: 25px;
    color: #3772FF;
}
.social-logo{
    filter: invert(42%) sepia(79%) saturate(3821%) hue-rotate(212deg) brightness(100%) contrast(102%);
    width: 50px;
    height: auto;
    padding: 3% 3%;
}
.social-logo-colorless{
    width: 50px;
    height: auto;
    padding: 3% 3%;
}
.social-logo:hover{
    filter: invert(44%) sepia(54%) saturate(4110%) hue-rotate(354deg) brightness(99%) contrast(104%);
}
/* switch header on a width of 773 */
@media (max-width: 822px) {
    .logo-network{
        color: #FF570A;
    }
    .logo-network:hover{
        color: #3772FF;
    }
    .header-links{
        text-align: center;
        padding-left: 0;
    }
    .nav-bar{
        flex-direction: column;
    }
}
@media (max-width: 624px){
    .social-logo{
        width: 25px;
    }
}
@media(max-width: 410px) {
    .header-content{
        min-width: none;
    }
}
@media (max-height: 690px){
    .header-image{
        max-width: 200px;
        max-height: 200px;
    }
}
@media (max-height: 590px){
    .header-image{
        max-width: 100px;
        max-height: 100px;
    }
}
/* about section */
.about{
    background-color: #09000D;
    padding: 6% 10%;
}
.about-text{
    text-align: center;
}
.about-text h1{
    font-size: 50px;
    color: #FF570A;
}
.about-text p{
    font-size: 25px;
    color: #3772FF;
}
/* projects section */
.projects{
    background-color: #09000D;
    padding: 6% 10%;
}
.projects-showcase{
    text-align: center;
}
.projects-showcase h1{
    color: #FF570A;
    font-size: 50px;
}
.projects-showcase img{
    max-width: 600px;
    width: 90%;
}
.projects-showcase img:hover{
    transform: scale(1.1);
}
/*footer*/
.footer{
    background-color: #09000D;
    text-align: center;
    font-size: 15px;
    color: #3772FF;
    padding: 2% 10% 1%;
    border-top: 1px dashed #FF570A;
}
.footer a{
    color: #FF570A;
    text-decoration: none;
}
.footer a:hover{
    color: #3772FF;
    transition: 0.5s;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3vh;
}
