* {
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-color: #09000D;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    flex: 1;
    text-align: left;
}
.header-logo ul li{
    list-style: none;
    display: inline-block;
    /* padding: 8px 12px; */
    position: relative;
}
.header-logo a{
    text-decoration: none;
    font-size: 30px;
}
.logo-name{
    color: #9CE37D;
    transition: 0.5s;
}
.logo-name:hover{
    color: #FC731E;
}
.logo-network{
    color: #FC731E;
    transition: 0.5s;
}
.logo-network:hover{
    color: #9CE37D;
}
.header-links{
    flex: 1;
    text-align: right;
    padding-left: 10%;
}
.header-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.header-links ul li a{
    color: #9CE37D;
    text-decoration: none;
    font-size: 20px;
}
.header-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FC731E;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.header-links ul li:hover::after{
    width: 100%;
}
